:root {
	--kwtsk-mmenu-width: 250px;
}
body.menu-open-left,
body.menu-open-right {
	overflow: hidden;
}
body.kwtsk-mmenu .wp-site-blocks {
	position: relative;
	left: 0;
	right: 0;
	transition:
		right 0.3s ease-in-out 0s,
		left 0.3s ease-in-out 0s;
}
body.kwtsk-mmenu.menu-open-left .wp-site-blocks {
	left: var(--kwtsk-mmenu-width);
	right: calc(-1 * var(--kwtsk-mmenu-width));
}
body.kwtsk-mmenu.menu-open-right .wp-site-blocks {
	right: var(--kwtsk-mmenu-width);
	left: calc(-1 * var(--kwtsk-mmenu-width));
}

/* -- Mobile Nav Container -- */
.wp-block-navigation.kwtsk-mm.mobile-on
	.wp-block-navigation__responsive-container {
	background-color: #1d2327 !important;
	color: #b4b4b4 !important;
	fill: #b4b4b4;
	box-shadow:
		inset 1px 0 0 #000000,
		inset -1px 0 0 #000000,
		inset 15px 0 15px rgb(255 255 255 / 5%);
	width: var(--kwtsk-mmenu-width);
	animation: none;
	display: block !important;
	padding: 18px;
	z-index: 999;
	position: fixed;
	height: 100vh;
	transition:
		left 0.3s ease-in-out 0s,
		right 0.3s ease-in-out 0s;
}
.wp-block-navigation.kwtsk-mm.kwtsk-light.mobile-on
	.wp-block-navigation__responsive-container {
	background-color: #f9f9f9 !important;
	color: #6e6e6e !important;
	fill: #6e6e6e !important;
	box-shadow:
		inset 1px 0 0 #c8cbcd,
		inset -1px 0 0 #c8cbcd,
		inset 2px 0 15px rgb(0 0 0 / 10%);
}

/* -- Padding for Admin Bar -- */
body.admin-bar
	.wp-block-navigation.kwtsk-mm.mobile-on
	.wp-block-navigation__responsive-container {
	padding-top: calc(18px + 32px);
}
@media screen and (max-width: 782px) {
	body.admin-bar
		.wp-block-navigation.kwtsk-mm.mobile-on
		.wp-block-navigation__responsive-container {
		padding-top: calc(18px + 46px);
	}
}
@media screen and (max-width: 600px) {
	body.admin-bar
		.wp-block-navigation.kwtsk-mm.mobile-on
		.wp-block-navigation__responsive-container {
		padding-top: 18px;
	}
}
.wp-block-navigation.kwtsk-mm.mobile-on
	.wp-block-navigation__responsive-container
	.wp-block-navigation__responsive-container-content {
	padding-top: 42px;
}

.wp-block-navigation.kwtsk-mm.kwtsk-mm-right.mobile-on
	.wp-block-navigation__responsive-container {
	right: calc(-1 * var(--kwtsk-mmenu-width));
	left: auto;
}
.wp-block-navigation.kwtsk-mm.kwtsk-mm-left.mobile-on
	.wp-block-navigation__responsive-container {
	left: calc(-1 * var(--kwtsk-mmenu-width));
	right: auto;
}
body.kwtsk-mmenu.menu-open-right
	.wp-block-navigation.kwtsk-mm.kwtsk-mm-right.mobile-on
	.wp-block-navigation__responsive-container.current-menu {
	right: 0;
	left: auto;
}
body.kwtsk-mmenu.menu-open-left
	.wp-block-navigation.kwtsk-mm.kwtsk-mm-left.mobile-on
	.wp-block-navigation__responsive-container.current-menu {
	left: 0;
	right: auto;
}

/* -- Close Icon -- */
.wp-block-navigation.kwtsk-mm.mobile-on
	.wp-block-navigation__responsive-container-close {
	right: 0;
	top: 0;
}
.wp-block-navigation.kwtsk-mm.mobile-on
	.wp-block-navigation__responsive-container
	.wp-block-navigation__responsive-container-close
	svg {
	fill: inherit;
}

/* -- Toggle Submenu Icon -- */
.wp-block-navigation.kwtsk-mm.mobile-on
	.wp-block-navigation__responsive-container
	.wp-block-navigation__submenu-icon.wp-block-navigation-submenu__toggle {
	color: inherit;
	background-color: rgb(255 255 255 / 10%);
	width: 18px;
	border-radius: 3px;
	float: right;
	height: 20px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -2px 0 0;
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: content-box;
}
.wp-block-navigation.kwtsk-mm.mobile-on
	.wp-block-navigation__responsive-container
	ul
	li
	> .wp-block-navigation__submenu-icon.wp-block-navigation-submenu__toggle
	> svg {
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	transform: rotate(-90deg);
}
.wp-block-navigation.kwtsk-mm.mobile-on
	.wp-block-navigation__responsive-container
	ul
	li.open-sub
	> .wp-block-navigation__submenu-icon.wp-block-navigation-submenu__toggle
	> svg {
	transform: rotate(0deg);
}

/* -- Items UL Elements -- */
.wp-block-navigation.kwtsk-mm.mobile-on
	.wp-block-navigation__responsive-container
	ul.wp-block-navigation__container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	gap: 10px;
	color: inherit !important;
}
.wp-block-navigation.kwtsk-mm.mobile-on
	.wp-block-navigation__responsive-container
	ul.wp-block-navigation__container
	ul.wp-block-navigation__submenu-container {
	display: none;
	position: relative;
	top: 0;
	left: 0;
	visibility: visible;
	opacity: 1;
	position: relative;
	height: auto;
	width: 100%;
	background: none !important;
	border: 0 !important;
}
.wp-block-navigation.kwtsk-mm.mobile-on
	.wp-block-navigation__responsive-container
	ul
	> li.open-sub
	> ul.wp-block-navigation__submenu-container {
	display: flex;
	flex-direction: column;
	gap: 14px;
	padding: 15px 0 15px 15px;
}

/* -- Items LI Elements -- */
.wp-block-navigation.kwtsk-mm.mobile-on
	.wp-block-navigation__responsive-container
	ul.wp-block-navigation__container
	li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}
.wp-block-navigation.kwtsk-mm.mobile-on
	.wp-block-navigation__responsive-container
	ul.wp-block-navigation__container
	li
	a {
	padding: 5px 0;
	display: block;
	width: calc(100% - 30px);
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: inherit !important;
}

/* -- Menu Selected -- */

body.kwtsk-mmenu
	header.wp-block-template-part
	nav.wp-block-navigation.kwtsk-mm.mobile-on
	.wp-block-navigation__container
	li:hover
	> a,
body.kwtsk-mmenu
	header.wp-block-template-part
	nav.wp-block-navigation.kwtsk-mm.mobile-on
	.wp-block-navigation__container
	li
	a.current-menu-ancestor,
body.kwtsk-mmenu
	header.wp-block-template-part
	nav.wp-block-navigation.kwtsk-mm.mobile-on
	.wp-block-navigation__container
	li.current-menu-item
	> a {
	color: #fff !important;
}
body.kwtsk-mmenu
	header.wp-block-template-part
	nav.wp-block-navigation.kwtsk-mm.mobile-on.kwtsk-light
	.wp-block-navigation__container
	li:hover
	> a,
body.kwtsk-mmenu
	header.wp-block-template-part
	nav.wp-block-navigation.kwtsk-mm.mobile-on.kwtsk-light
	.wp-block-navigation__container
	li
	a.current-menu-ancestor,
body.kwtsk-mmenu
	header.wp-block-template-part
	nav.wp-block-navigation.kwtsk-mm.mobile-on.kwtsk-light
	.wp-block-navigation__container
	li.current-menu-item
	> a {
	color: #000 !important;
}
